body {
  font: 12px sans-serif;
}

.rule line {
  stroke: #eee;
  shape-rendering: crispEdges;
}

.rule line.axis {
  stroke: #000;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

circle.line {
  fill: #fff;
}

h1 {
  text-align:center;
}

h2 {
  text-align:center;
}